{
  "extends": ["react-app-eslint-six", "plugin:prettier/recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unexpected-multiline": "error",
    "import/no-webpack-loader-syntax": "off",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-shadow": "error",
    "react/jsx-fragments": "error",
    "no-return-await": "error",
    "newline-before-return": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
